.BigButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 80%;
}

.BigButton {
  background-color: rgb(230, 209, 237);
  flex: 1;
  margin-left: 12px;
  height: 30px;
}
